---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <article>
    <header>
      <h1>{post.data.title}</h1>
      <p><small>Published on {post.data.pubDate.toLocaleDateString()}</small></p>
      {post.data.description && <p><em>{post.data.description}</em></p>}
    </header>
    <Content />
  </article>
  
  <nav>
    <a href="/blog" role="button" class="secondary">← Back to blog</a>
  </nav>
</Layout>